@model Senai.Papelaria.Dominio.Dominios.Produto 



@{   

    ViewData["Title"] = "Detalhes";   

}   

<h2>Detalhes</h2>   

<div>   

    <h4>Produto</h4>   

    <hr />   

    <dl class="dl-horizontal">   

        <dt>   

            @Html.DisplayNameFor(model => model.NomeProduto)   

        </dt>   

        <dd>   

            @Html.DisplayFor(model => model.NomeProduto)   

        </dd>   
 

    </dl>   

    <dl class="dl-horizontal">   

        <dt>   

            @Html.DisplayNameFor(model => model.Descricao)   

        </dt>   

        <dd>   

            @Html.DisplayFor(model => model.Descricao)   

        </dd>   
 

    </dl>   
    
    <dl class="dl-horizontal">   

        <dt>   

            @Html.DisplayNameFor(model => model.IdCategoria)   

        </dt>   

        <dd>   

            @Html.DisplayFor(model => model.IdCategoria)   

        </dd>   
 

    </dl>   

    <dl class="dl-horizontal">   

        <dt>   

            @Html.DisplayNameFor(model => model.Preco)   

        </dt>   

        <dd>   

            @Html.DisplayFor(model => model.Preco)   

        </dd>   
 

    </dl>   


</div>   

<div>   

    <a asp-action="Editar" asp-route-id="@Model.IdProduto">Editar</a> |   

    <a asp-action="Index">Voltar</a>   

</div>