@model IEnumerable<Senai.Papelaria.Dominio.Dominios.Produto>       

@{   
    ViewData["Title"] = "Index";   
}   

<h2>Index</h2>   
<p>   
    <a asp-action="Cadastrar">Cadastrar Novo Produto</a>   
</p>   

<table class="table">   
    <thead>   
        <tr>   
            <th>   
                @Html.DisplayNameFor(model => model.NomeProduto)   
            </th>   
            <th>   
                @Html.DisplayNameFor(model => model.Descricao)   
            </th>  
             <th>   
                @Html.DisplayNameFor(model => model.IdCategoria)   
            </th>  
             <th>   
                @Html.DisplayNameFor(model => model.Preco)   
            </th> 
            <th></th>   
        </tr>   
    </thead>   

    <tbody>   

        @foreach (var item in Model)  
        {   
            <tr>   
                <td>   
                    @Html.DisplayFor(modelItem => item.NomeProduto)   
                </td>  
                <td>   
                    @Html.DisplayFor(modelItem => item.Descricao)   
                </td>  
                <td>   
                    @Html.DisplayFor(modelItem => item.IdCategoria)   
                </td>  
                <td>   
                    @Html.DisplayFor(modelItem => item.Preco)   
                </td>  
                <td>   
                    <a asp-action="Editar" asp-route-id="@item.IdProduto">Editar</a> |   
                    <a asp-action="Detalhes" asp-route-id="@item.IdProduto">Detalhes</a> |   
                    <a asp-action="Excluir" asp-route-id="@item.IdProduto">Excluir</a>   
                </td>   
            </tr>   
        }   

    </tbody>   

</table>