@model Senai.Papelaria.Dominio.Dominios.Cliente 



@{   

    ViewData["Title"] = "Detalhes";   

}   

<h2>Detalhes</h2>   

<div>   

    <h4>Cliente</h4>   

    <hr />   

    <dl class="dl-horizontal">   

        <dt>   

            @Html.DisplayNameFor(model => model.NomeCliente)   

        </dt>   

        <dd>   

            @Html.DisplayFor(model => model.NomeCliente)   

        </dd>   
 

    </dl>   

    <dl class="dl-horizontal">   

        <dt>   

            @Html.DisplayNameFor(model => model.Email)   

        </dt>   

        <dd>   

            @Html.DisplayFor(model => model.Email)   

        </dd>   
 

    </dl>   
    
    <dl class="dl-horizontal">   

        <dt>   

            @Html.DisplayNameFor(model => model.Cpf)   

        </dt>   

        <dd>   

            @Html.DisplayFor(model => model.Cpf)   

        </dd>   
 

    </dl>   

    <dl class="dl-horizontal">   

        <dt>   

            @Html.DisplayNameFor(model => model.DataCadastro)   

        </dt>   

        <dd>   

            @Html.DisplayFor(model => model.DataCadastro)   

        </dd>   
 

    </dl>   


</div>   

<div>   

    <a asp-action="Editar" asp-route-id="@Model.IdCliente">Editar</a> |   

    <a asp-action="Index">Voltar</a>   

</div>